{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- about -->
	<div class="about-top">
		<div class="about-info">
				<h3>A brief history of us</h3>
				<p class="caption">Davys pets opened on February 9th 2013 “It’s hard to believe we are over 3 years open already and in October 2015 we've expanded and grown to where we are today.<br> We would like to thank everyone who has supported us throughout the years!”<br>Davy was working in the corporate  sector and realised it wasn’t what he wanted. He gave up his full time career in order to persue a job <br>that would give him 100% satisfaction and with a strong love of animals what better way to do that, than open a pet store.</p>
			</div>
		<div class="welcome offer about">
			<div class="about-right welcome-right ">

			</div>
			<div class="welcome-left offer-left about-left">
				<h3>What we do!</h3>
				<p>We at Davy's Pets are considered to be Amoungst Ireland's leading Pet specialist stores. We hope you can find everything you need here at Davy's Pets. We are focused on providing high-quality Captive Bred Pets, Fish, Reptiles , Amphibians and Invertebrates from the best of Irish , UK , and European Breeders.  We aim to provide a full service that any hobbyist , whether beginner or more advanced keeper will appreciate. With our dedicated service we will do everything we can to meet your expectations and guarantee customer satisfaction.
				With a Vast choice of Animals, Reptiles, and Fish to choose from, we're sure you'll be happy shopping with us. Whether you're looking for a Snake or Spider, Newt or Frog, Lizard or Sugar Glider we're sure we can help you maximise pleasure from the wonderful hobby that is keeping Pets.
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<!-- about-bottom -->
	<div class="about-bottom">
		<!-- container -->
		<div class="container">
			<h3>About us and our reptiles</h3>
			<div class="about-bottom-grids">
				<div class="col-md-6 about-bottom-left">
					<h4>What we're about</h4>
					<p>It came from a hobby and a passion, to throw away what many describe as a "safe" career, David has risked it all to follow his heart and open his first pet shop. Davys' Pets, is a Family owned Business with the owner David O'Neill establishing the Shop in 2013.
		            He himself is a devoted hobbyist with a vast number of years experience and a vast C.V of Species that he has kept and Bred.
		            <br>Davys' Pets offers free and Friendly advice and strives to help the development of the hobby in the country whilst promoting proper Animal Welfare for these Amazing Creatures. Various Zoo's, leading Exotic animal Veterinary Surgeons and Reptile Groups would accredit us as being a reliable and Professional outlet. <br>Davys' Pets has established itself as a go to facility for Zoo's acquiring their own stock, to also supplying animals and reptiles for the film industry</p>
				</div>
				<div class="col-md-6 about-bottom-left about-bottom-right">
					<h4>How to find us</h4>
					<p>We are located at <br>Unit 4, Strawhall Industrial Estate,<br>Carlow,<br>Useful landmark's include Swan Electrical, and Expert, Cannery Road.<br>Directions<br> From Carlow Train Station head N.West on Railway Road towards Dublin Rd./R888, after 210m turn right onto Dublin Rd/R888, after 50m turn left toward Athy Rd./R417, after 230m turn right toward Athy Rd./R417, after 100m turn left toward Athy Rd./R417, after 93m turn right onto Athy Rd./R417, after 400m continue straight to stay on Athy Rd./R417, at Athy Roundabout take the first exit onto Strawhall Ave/N80, After 71m turn right onto Cannery Road.Davys' Pets is on the right hand side 230m up the road .
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //about-bottom -->
	<!-- about-team -->
	<div class="about-team">
			<!-- container -->
			<div class="container">
				<h4>Our Principles</h4>
				<div class="team-grids">
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/g2.jpg'%}" alt="">
						<h6>convallis id mauris</h6>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/g3.jpg'%}" alt="">
						<h6>massa convallis</h6>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/g4.jpg'%}" alt="">
						<h6>leonec purus</h6>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/g5.jpg'%}" alt="">
						<h6>venenatis portt</h6>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
{% endblock %}